#mapDiv
{
    height: 600px;
    width: 100%;
    border: solid black 1px;
}

#mainContent, 
#subContent p
{
    color: black;
}

#mainContent,
.infoBox
{
    max-width: 400px;
    max-height: 215px;
    font-family: 'Muli', sans-serif;
    background-color: #F2F2F2;
    border-radius: 2%;
    overflow: auto;
    scrollbar-width: none;
}

.infoBox::-webkit-scrollbar 
{
    display: none;
}

#subContent
{
    height: auto;
}

#mainContent h1{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
    padding-top: 5px;
    text-align: center;
    font-weight: 600;
}
#mainContent hr
{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 0.5px solid black;
}

#subContent #locationImage
{
    clear:both;
    float: right;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
}

#subContent button
{ 
    width: 20%;;
    margin-left: 40%;
    margin-right: 40%;
    height: 30px;
    background-color: #4285F4;
    border: 0;
    border-radius: 2.5px;
}
#subContent button:hover
{
    background-color: #5491F5;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.07);
}

#subContent p
{
    margin-left: 5px;
    font-size: 1.1em;
}

.infoBox img
{
    width: 20px;
    opacity: 1;
}

#logoImage
{
    height: 45px;
    width: 40px;
    margin-right: 10px;
}

#title
{
    vertical-align: middle;
}

#header-wrapper.header-slider
{
    background: #444 url(../images/rugbyHeaderSlider.jpg) no-repeat center center fixed;
}

.icon-trophy
{
    color: black;
}

#scrollMenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    height: 280px;
    box-shadow: 5px 10px 8px #888888;
}

#scrollMenu img {
    color: #333;
    width: 350px;
    height: 200px;
    padding: 14px;
    -webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
    filter: blur(1.5px);
    transition-duration: 1s;
}

#scrollMenu img:hover
{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}

#menuText:hover
{
    display:none;
}

#menuImages,
#menuText
{
    display: inline-block;
}

#menuText
{
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainContentSlider
{
    display: inline-block;
    padding: 10px;
}

